<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>E-shop | Django</title>
  <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</head>
<body>
  <div class="container my-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h3 class="text-center my-3">Créer un compte</h3>
          </div>
          <div class="card-body">
            <form method="POST">
              {% csrf_token %}
              <div class="form-group">
                <label for="username">Nom d'utilisateur:</label>
                <input type="text" name="username" class="form-control" id="username" required>
              </div>
              <div class="form-group">
                <label for="first_name">Prenom:</label>
                <input type="text" name="first_name" class="form-control" id="first_name" required>
              </div>
              <div class="form-group">
                <label for="last_name">Nom:</label>
                <input type="text" name="last_name" class="form-control" id="last_name" required>
              </div>
              <div class="form-group">
                <label for="email">Adresse email:</label>
                <input type="email" name="email" class="form-control" id="email" required>
              </div>
              <div class="form-group">
                <label for="address">Adresse:</label>
                <input type="text" name="address" class="form-control" id="address" required>
              </div>
              <div class="form-group">
                <label for="city">Ville:</label>
                <input type="text" name="city" class="form-control" id="city" required>
              </div>
              <div class="form-group">
                <label for="country">Pays:</label>
                <input type="text" name="country" class="form-control" id="country" required>
              </div>
              <div class="form-group">
                <label for="password1">Mot de passe:</label>
                <input type="password" name="password1" class="form-control" id="password1" required>
              </div>
              <div class="form-group">
                <label for="password2">Confirmer le mot de passe:</label>
                <input type="password" name="password2" class="form-control" id="password2" required>
              </div>
              <button type="submit" class="btn btn-primary btn-block">Créer un compte</button>
                </form>
            </div>
            <div class="card-footer text-center">
                <p class="my-3">Vous avez déjà un compte? <a href="{% url 'login' %}">Connectez-vous ici!</a></p>
            </div>
        </div>
    </div>
  </div>

</body>
</html>